body {
  background: #303048;
  color: white;
}

.container {
  display:flex;
  flex-direction:row;
  height:300px;
}

.container .container-section {
  flex: 1;
}

.svg-container {
  display: flex;
  justify-content: center;
}