body {
  background: #303048;
  color: white;
}

.container {
  max-width: 400px;
  margin: auto;
  display:flex;
  flex-direction:column;
}

.container .container-section {
  flex: 1;
}

.svg-container {
  display: flex;
  justify-content: center;
}

svg {
  transform-box: fill-box;
  transform: rotate(180deg);
}

.graph-axis {
  stroke: white;
}

.graph-bar {
  fill: orangered;
  transition: fill .3s ease-in-out;
  animation: rise-up .8s cubic-bezier(0.6, 0.11, 0.45, 1.35) .5s;
}

.graph-bar:hover {
  fill: orange;
}

@keyframes rise-up {
  from {
    transform: scale3d(1, 0, 1);
  } to {
    transform: scale3d(1, 1, 1);
  }
}
